---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Revalidation', href: '/revalidation' },
    { linkText: 'Image CDN', href: '/image-cdn' },
    { linkText: 'Edge Function', href: '/edge' },
    { linkText: 'Blobs', href: '/blobs' }
];
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="https://tallect.com/">
        <img src="https://cdn.prod.website-files.com/6606091e6b8a967b0f861c4a/66072f7ff45a2e80b942fab6_Logo.svg" alt="Tallect"  />
    </a>
   
</nav>
